:root {
  --negro: #000000;
  --azul-electrico: #1161b7;
  --violeta: #a020f063;
  --verde: #00ffcc;
  --blanco: #e6e6e6;
  --color-animado: #7d2cff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Orbitron', sans-serif;
  color: var(--blanco);
  background-color: var(--negro);
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#vanta-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.overlay {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  padding: 80px 100px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 10px 45px rgba(125, 44, 255, 0.15);
  /* 3D */
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  transition: transform 0.6s cubic-bezier(.22, 1, .36, 1), box-shadow 0.5s ease;
  overflow: hidden;
  /* importante para contener el brillo */
}

.overlay:hover {
  transform: perspective(1000px) rotateX(8deg) rotateY(-6deg) translateY(-10px);
  box-shadow:
    0 25px 80px rgba(0, 123, 255, 0.25),
    0 0 90px rgba(125, 44, 255, 0.25);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 0 0 80px var(--color-animado);
  transition: box-shadow 1s ease, background 0.5s ease;
}

.overlay:hover h1 {
  color: var(--color-animado);
  transform: translateZ(55px) scale(1.03);
}

.overlay:hover p {
  transform: translateZ(55px) scale(1.03);
  opacity: 0.95;
}

.overlay::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(115deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.1) 45%,
      /*rgba(0, 255, 200, 0.25) /* verde azulado */
      rgba(120, 50, 255, 0.3)
      /* violeta eléctrico */
    );

  transform: rotate(25deg) translateX(-100%);
  transition: transform 0.8s ease;
  pointer-events: none;
  z-index: 1;
}

.overlay:hover::before {
  transform: rotate(25deg) translateX(100%);
}


.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fadeIn 1.5s ease;
}


.logo {
  fill: var(--violeta);
  filter: brightness(1.0) saturate(1.0);
  width: 250px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, filter 0.3s ease;
  transition: filter 0.5s ease;
}

.overlay:hover .logo {
  fill: var(--color-animado);
  transform: scale(1.1);
  cursor: pointer;
  filter: drop-shadow(0 0 20px var(--negro));
  transition: transform 0.1s ease, filter 0.4s ease;
}


.title {
  font-size: 2.5rem;
  color: var(--color-animado);
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1rem;
  color: var(--blanco);
  opacity: 0.8;
  margin-bottom: 100px;
}

.btn {
  z-index: 3;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 8px;
  background: var(--violeta);
  color: var(--blanco);
  font-weight: 600;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  display: inline-block;
  /* importante para que el transform afecte bien */
}

.btn:hover {
  z-index: 4;
  transform: scale(1.05);
  background: var(--color-animado);
  box-shadow: 0 0 2px var(--negro);
  background-position: 100% 0;
}

/* Animación click */
body.transicion-salida .logo {
  transform: translateY(-220px) scale(0.45);
  opacity: 0.9;
}

body.transicion-salida .hero-content h1,
body.transicion-salida .hero-content p,
body.transicion-salida .hero-content button {
  opacity: 0;
  transform: translateY(-50px);
  transition: all 0.6s ease;
}


/* Fade in inicial */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.redes-flotantes {
  position: fixed;
  bottom: 60px;
  right: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 2000;
}

.icono {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  font-size: 26px;
  text-decoration: none;
  animation: flotar 3s ease-in-out infinite;
  transition: transform 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.icono.whatsapp:hover {
  transform: scale(1.2);
  color: #00ffcc;
}

.icono.instagram:hover {
  color: #f40166;
}

.icono.instagram {
  background: transparent;
}

@keyframes flotar {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }
}

@media (max-width: 768px) {
  .encabezado {
    flex-direction: column;
    padding: 1rem;
    max-width: 100vh;
  }

  .encabezado:hover {
    box-shadow: 0 10px 45px rgba(125, 44, 255, 0.15);
  }

  .overlay {
    padding: 30px 15px;
  }


  .overlay .btn {
    transform: translateY(-30px);
    background-color: var(--violeta);
  }

  .overlay:hover .btn {
    background-color: var(--color-animado);
  }

  .overlay:hover p {
    transform: translateZ(55px) scale(1.05);
    opacity: 0.95;
  }


  html,
  body {
    overflow-x: hidden;
  }


}