
:root {
    --negro: #000000;
    --azul-electrico: #1161b7;
    --violeta: #a020f063;
    --verde: #00ffcc;
    --blanco: #e6e6e6;
    --color-animado: #7d2cff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
    color: var(--blanco);
    background-color: var(--negro);
}


#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


#vanta-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Contenedor central */


.overlay {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  padding: 80px 100px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 10px 45px rgba(125, 44, 255, 0.15);

  /* base para animar en 3D */
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  transition: transform 0.6s cubic-bezier(.22,1,.36,1), box-shadow 0.5s ease;
  overflow: hidden; /* importante para contener el brillo */
}


.overlay:hover {
  transform: perspective(1000px) rotateX(8deg) rotateY(-6deg) translateY(-10px);
  box-shadow:
    0 25px 80px rgba(0, 123, 255, 0.25),
    0 0 90px rgba(125, 44, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(3px);

  box-shadow: 0 0 80px var(--color-animado);
  transition: box-shadow 1s ease, background 0.5s ease;

}

.overlay:hover h1 {
  color: var(--color-animado);
  transform: translateZ(35px);
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.25);
 
}

.overlay:hover p {
  transform: translateZ(55px) scale(1.05);
  opacity: 0.95;
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.733);
}



.overlay::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    115deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 45%,
    /*rgba(0, 255, 200, 0.25) /* verde azulado */
    rgba(120, 50, 255, 0.3) /* violeta eléctrico */
    );
    
  transform: rotate(25deg) translateX(-100%);
  transition: transform 0.8s ease;
  pointer-events: none;
  z-index: 1;
}

.overlay:hover::before {
  transform: rotate(25deg) translateX(100%);
}


.hero { 
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 1.5s ease;
    }

   
.logo {
    width: 250px;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 8px var(--color-animado));
    transition: transform 0.3s ease, filter 0.3s ease;
    transition: filter 0.5s ease;
    }

.logo:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px var(--color-animado))
            drop-shadow(0 0 25px var(--color-animado));     
    cursor: pointer;
    transition: transform 0.4s ease, filter 0.4s ease;
}





.title {
    font-size: 2.5rem;
    color: var(--color-animado);
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1rem;
    color: var(--blanco);
    opacity: 0.8;
    margin-bottom: 100px;
}

.btn {
    z-index: 3;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    background: var(--violeta);
    color: var(--blanco);
    font-weight: 600;
    box-shadow: 0 0 50px rgba(125, 44, 255, 0.4);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    display: inline-block; /* importante para que el transform afecte bien */
}

.btn:hover {
    z-index: 4;
    transform: scale(1.05);
    background: var(--color-animado);
    box-shadow: 0 0 55px var(--color-animado);
    background-position: 100% 0;
}



/* Animación click */
body.transicion-salida .logo {
  transform: translateY(-220px) scale(0.45);
  opacity: 0.9;
}

body.transicion-salida .hero-content h1,
body.transicion-salida .hero-content p,
body.transicion-salida .hero-content button {
  opacity: 0;
  transform: translateY(-50px);
  transition: all 0.6s ease;
}

/* Fade in inicial */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}




@media (max-width: 768px) {
  .encabezado {
    flex-direction: column;
    padding: 1rem;
    max-width: 100vh;
  }

  .encabezado:hover {
    box-shadow: 0 10px 45px rgba(125, 44, 255, 0.15);
  }
  
  .overlay {
    padding: 30px 15px;    
  }


  .overlay .btn {
  transform: translateY(-30px);
  background-color: var(--color-animado);
  box-shadow: 0 0 23px var(--color-animado);
}

  .overlay:hover p {
  transform: translateZ(55px) scale(1.05);
  opacity: 0.95;
  text-shadow: 0 0 0.5px rgb(255, 255, 255);
}
  

  html, body {
  overflow-x: hidden;
}


}
